.header {
    display: flex;
    gap: 20px;
    text-align: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.header input {
    width: 530.17px;
    height: 28px;
    margin-top: 6px;
}

.header h4 {
    margin-top: 6px;
    margin-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

.search-bar {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}